<nav style="padding: 0 20px 20px 20px">
  <ul
    style="
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 15px;
      list-style: none;
      flex-wrap: wrap;
    "
  >
    <li>
      <a href="/users-list" style="color: #333; text-decoration: none">Users</a>
    </li>
    <li>
      <a href="/cultivations-list" style="color: #333; text-decoration: none"
        >Cultivations</a
      >
    </li>
    <li>
      <a href="/trees-list" style="color: #333; text-decoration: none">Trees</a>
    </li>
    <li>
      <a href="/poultries-list" style="color: #333; text-decoration: none"
        >Poultries</a
      >
    </li>
    <li>
      <a href="/huntings-list" style="color: #333; text-decoration: none"
        >Huntings</a
      >
    </li>
    <li>
      <a
        href="/selling-channels-list"
        style="color: #333; text-decoration: none"
        >Selling Channels</a
      >
    </li>
    <li>
      <a href="/consumptions-list" style="color: #333; text-decoration: none"
        >Consumptions</a
      >
    </li>
  </ul>
</nav>
